.talk {
    border: 1px solid #eee;
    border-left-color: #FF0000;
    border-left-width: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.selected {
    border-left-color: #003399;
}

.talk .header {
    font-size: 120%;
    font-weight: bold;
}

.talk .author {
    font-style: italic;
}

.talk .description {
    margin-top: 5px;
}

.talk .link-description {

}

.track {
    padding: 5px;
}

.banner {
    padding: 10px;
    background-color: #003399;
    color: white;
    font-weight: bold;
}
