.talk {
    border: 1px solid #eee;
    border-left-color: #aaaaaa;
    border-left-width: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.clickable {
    border-left-color: #ff0000;
}

.talk .header {
    font-size: 120%;
    font-weight: bold;
}

.talk .author {
    font-style: italic;
}

.talk .description {
    margin-top: 5px;
}

.talk .link-description {

}

.track {
    padding: 5px;
}

.banner {
    padding: 10px;
    background-color: #003399;
    color: white;
    font-weight: bold;
}

.modal-footer {
    padding: 5px;
}

.modal-header {
    padding: 10px;
}

.profileimg {
    margin: 0 2% 2% 0;
}

.bio {
    margin-top: 10px;
}