<div class="modalDialog">
    <div class="modal-header">
        <span class="modal-title">
            <span class="pull-right"><button class="btn btn-primary" ng-click="close()">X</button></span>
            <h4>{{options.talk.title}}</h4>
            <small>{{options.talk.time.start}} - {{options.talk.time.end}}, {{options.talk.room}}</small><br>
        </span>
    </div>
    <div class="modal-body">
        <div class="description">
            <p>{{options.talk.abstract}}</p>

            <h4 ng-show="options.talk.speakers.length > 1">Referenten</h4>

            <h4 ng-show="options.talk.speakers.length === 1">Referent</h4>

            <div ng-repeat="speaker in options.talk.speakers">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <img ng-src="{{speaker.picture}}" class="pull-left profileimg"/>
                        <strong>{{speaker.name}} {{speaker.surname}}</strong><br>
                        <a href="mailto:{{speaker.email}}">{{speaker.email}}</a><br>
                        {{speaker.company}}
                        <p class="bio">{{speaker.bio}}</p>
                    </div>
                </div>
            </div>
			<comments talk-id="{{options.talk.talkId}}"></comments>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">X</button>
    </div>
</div>
