<div class="container content">
    <div class="row track">
        <p class="h3"><strong>Conference-Buddy</strong></p>
        <p>
            Your Buddy-App for conferences.<br/>
            View conference agenda, manage your tracks, comment and rate talks.
        </p>
        <small>v1.0.0</small>
        <p class="h4">Developers</p>
        <p>
            Manuel Friedli<br/>
            Korhan Gülseven<br/>
            Marc Walter<br/>
            Stefan Zeller<br/>
            Gilles Zimmermann
        </p>
        <p><img src="images/nighthacks.png"></p>
    </div>
</div>