<div class="container content">
    <div class="row track">
        <p class="h3"><strong>Conference-Buddy</strong></p>

        <p>
            <strong>Your Buddy-App for conferences</strong><br/>
            View conference agenda, manage your tracks, comment and rate talks.<br/>
            <small>v1.0.0 by SBB IT</small>
        </p>
        <p>
            <strong>Team</strong>
        <ul>
            <li>Manuel Friedli</li>
            <li>Korhan Gülseven</li>
            <li>Marc Walter</li>
            <li>Stefan Zeller</li>
            <li>Gilles Zimmermann</li>
        </ul>
        </p>
    </div>
</div>