<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <span class="glyphicon glyphicon-remove pull-right" ng-click="ok()"></span>
        <h3 class="modal-title">{{talk.name}}</h3>
    </div>
    <div class="modal-body">
        {{talk.description}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="toMyTrack()">Add to my track</button>
    </div>
</script>


<h1>By Track</h1>

<div class="container">
    <div class="row">
        <h2 ng-swipe-right="nextTrack()"
            ng-swipe-left="previousTrack()">{{currentTrack.name}}</h2>
        <span ng-click="previousTrack()" ng-show="hasPreviousTrack()" class="glyphicon glyphicon-chevron-left"></span>
        <span ng-click="nextTrack()" ng-show="hasNextTrack()" class="glyphicon glyphicon-chevron-right"></span>
    </div>
    <div class="row talk" ng-repeat="talk in currentTrack.talks">
        <div class="col-xs-2 col-lg-1">
            {{talk.block}}
        </div>
        <div class="col-xs-10 col-lg-11"
             ng-swipe-right="showTalkDetails(talk)">
            <div class="header">{{talk.name}}</div>
            <div class="author">mit {{talk.referent}}</div>
            <div class="description hidden-xs">{{talk.description}}</div>
        </div>
    </div>

</div>