<div class="container content">
    <div class="row track">
        <p class="h3"><strong>{{conference.name}}</strong></p>

        <p class="h5"><strong>{{conference.location}}, {{conference.date}}</strong></p>
        <hr/>
        <p>Rating</p>
        <rating ng-model="averageRating" readonly="true" max="6" ng-show="hasRatings" class="pull-right"></rating>
        <rating ng-model="myRating" max="6" ng-show="isRegistered()"></rating>
        <button type="button" ng-click="rate()" class="btn btn-default" ng-show="isRegistered()">
            <strong>Bewerten</strong>
        </button>
        <comments pid="11111"></comments>

    </div>
</div>