<div class="container content">
    <div class="row track">
        <p class="h3"><strong>{{conference.name}}</strong></p>

        <p class="h5"><strong>{{conference.location}}, {{conference.date}}</strong>
         <rating class="pull-right" ng-model="averageRating" readonly="true" max="6" ng-show="hasRatings"></rating>
        </p>
        <p>
            <img src="images/devday11.png"/>
        </p>
        <p><b>Continuous Improvement - <br>in kleinen Schritten besser werden.</b></p>

        <div class="rating pull-right">
            <rating ng-model="myRating" max="6" ng-show="isRegistered()" class="ratingStars"></rating>
            <button type="button" ng-click="rate()" class="btn btn-default" ng-show="isRegistered()">
                <span ng-if="rated">Aktualisieren</span>
                <span ng-if="!rated">Bewerten</span>
            </button>
        </div>
        <br/>

        <comments pid="{{conference.id}}"></comments>
    </div>
</div>
