<div class="container content">
    <div class="row track">
        <p class="h3"><strong>MyTrack</strong></p>
    </div>
    <div class="row track" ng-hide="myTrack.presentations">
        <p>Ops! Uns fehlen Deine Anmeldungsdaten aus e-Tutor, um den MyTrack anzuzeigen.</p>
        <p>
            Falls Du Dich in e-Tutor angemeldet hast, ist vielleicht etwas bei der Registrierung schief gelaufen. In dem Fall kannst Du <a
                ng-controller="NavigationController" ng-click="goToAbout()">Deine Registrierung hier löschen</a> und Dich nochmals registrieren.
        </p>
    </div>

    <!-- Smartphones und Tablets -->
    <div class="visible-xs-block visible-sm-block" ng-class="{row: true, talk: true, mytrack: true, mytrackClickable: hasAbstract(presentation)}"
         ng-repeat="presentation in myTrack.presentations"
         ng-click="showDetails($index, myTrack, ROUTES.MYTRACK)" ng-controller="PresentationController">
        <div class="col-xs-2 col-lg-1">
            {{presentation.time.start}}<br>
            {{presentation.time.end}}
        </div>
        <div class="col-xs-10 col-lg-11">
            <div class="header">{{presentation.title}}</div>
            <div ng-show="presentation.speakers" class="author">mit {{formatSpeakers(presentation)}}</div>
            <div>
                <small>{{presentation.room.name}}</small>
            </div>
        </div>
    </div>

    <!-- Desktops -->
    <div class="visible-md-block visible-lg-block" ng-class="{row: true, talk: true}"
         ng-repeat="presentation in myTrack.presentations" ng-controller="PresentationController">
        <div class="col-xs-2 col-lg-1">
            {{presentation.time.start}}<br>
            {{presentation.time.end}}
        </div>
        <div class="col-xs-10 col-lg-11">
            <div class="header" ng-show="!hasAbstract(presentation)">{{presentation.title}}</div>
            <div class="link-header"><a href="#" ng-click="showDetails($index, myTrack)" ng-show="hasAbstract(presentation)">{{presentation.title}}</a></div>
            <div ng-show="presentation.speakers" class="author">mit {{formatSpeakers(presentation)}}</div>
            <div>
                <small>{{presentation.room.name}}</small>
            </div>
            <div><p collapsible-text="200">{{presentation.abstract}}</p></div>
        </div>
    </div>
</div>