<div class="banner">
    <p class="h3"><strong>{{conference.name}}</strong></p>
    <button ng-click="showTracks()" class="pull-right btn btn-default btn-sm glyphicon glyphicon-list"></button>
    <p class="h5"><strong>{{conference.location}}, {{conference.date}}</strong></p>
</div>
<div class="container">
    <div class="row track">
        <p class="h3"><strong>My Track</strong></p>
    </div>
    <div ng-class="{row: true, talk: true, clickable: hasAbstract(presentation)}" ng-repeat="presentation in myTrack.presentations" ng-click="showDetails($index)">
        <div class="col-xs-2 col-lg-1">
            {{presentation.time.start}}<br>
            {{presentation.time.end}}
        </div>
        <div class="col-xs-10 col-lg-11">
            <div class="header">{{presentation.title}}</div>
            <div ng-show="presentation.speakers" class="author">mit {{formatSpeakers(presentation)}}</div>
            <div>
                <small>{{presentation.room}}</small>
            </div>
        </div>
    </div>
</div>