<div class="banner">
    <p class="h3"><strong>{{conference.name}}</strong></p>
    <button ng-click="showMyTrack()" class="pull-right btn btn-default btn-sm glyphicon glyphicon-user"></button>
    <p class="h5"><strong>{{conference.location}}, {{conference.date}}</strong></p>
</div>
<div class="container copperfield" ng-class="{magic: copperfield}" ng-swipe-left="nextTrack()" ng-swipe-right="previousTrack()">
    <div class="row track">
        <p class="h3">
            <span ng-click="previousTrack()" ng-show="hasPreviousTrack()" class="glyphicon glyphicon-chevron-left"></span>
            <span class="trackLabel">Track</span> <strong>{{currentTrack.title}}</strong>
            <span ng-click="nextTrack()" ng-show="hasNextTrack()" class="glyphicon glyphicon-chevron-right"></span>
        </p>

    </div>
    <div ng-class="{row: true, talk: true, clickable: hasAbstract(talk)}" ng-repeat="talk in currentTrack.talks" ng-click="showDetails($index)">
        <div class="col-xs-2 col-lg-1">
            {{talk.time.start}}<br>
            {{talk.time.end}}
        </div>
        <div class="col-xs-10 col-lg-11">
            <div class="header">{{talk.title}}</div>
            <div ng-show="talk.speakers" class="author">mit {{formatSpeakers(talk)}}</div>
            <div>
                <small>{{talk.room}}</small>
            </div>
        </div>
    </div>
</div>