<div style="padding-left:15px; padding-right: 15px">
    <div class="row">
        <hr/>
        <h4>Kommentare</h4>

        <form name="commentsForm" role="form" ng-submit="submitForm(commentsForm.$valid)" novalidate>
            <div class="form-group">
                <textarea class="span12 form-control" rows="2" placeholder="{{author.nameSurname}}, erfasse einen Kommentar" style="width: 100%"
                          ng-model="commentEntry.comment" required></textarea>
            </div>
            <button class="btn btn-primary pull-right" ng-disabled="commentsForm.$invalid">Abschicken</button>
        </form>
    </div>

    <div class="row" style="padding-top: 10px">
        <div class="panel panel-default" ng-repeat="comment in comments">
            <div class="panel-body">
                <strong>{{formatDate(comment)}}</strong>
                {{comment.comment}}
                <cite class="clearfix">—{{comment.author.nameSurname}}</cite>
            </div>
        </div>
    </div>
</div>