<div style="padding-left:15px; padding-right: 15px">
    <div class="row">
        <hr/>
        <p class="h4">
            Kommentare
        </p>

        <form name="commentsForm" role="form" ng-submit="submitForm(commentsForm.$valid)" ng-show="showInputForm()" novalidate>
            <div class="form-group">
                <textarea class="span12 form-control" rows="2" placeholder="{{author.name}}, erfasse einen Kommentar" style="width: 100%"
                          ng-model="commentEntry.value" required></textarea>
            </div>
            <button class="btn btn-default pull-right" ng-disabled="commentsForm.$invalid">Abschicken</button>
        </form>
        <div ng-show="!showInputForm()">
            <a ng-controller="NavigationController" ng-click="goToMyTrack()">Registriere</a> Dich, um Kommentare abgeben zu können!
        </div>
        <div class="form-group">
            <button ng-click="load()" type="button" class="btn btn-default pull-right">
                <span class="glyphicon glyphicon-repeat"></span>
            </button>
        </div>
    </div>
    <div class="row" style="padding-top: 10px">
        <div class="panel panel-default" ng-repeat="comment in comments">
            <div class="panel-body">
                <strong>{{formatDate(comment)}}</strong>
                {{comment.value}}
                <cite class="clearfix"> - {{comment.author}}</cite>
            </div>
        </div>
    </div>
</div>